# System Clutter
node_modules
node_modules/*
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/bin/
*.log
*.log*
/archive/

# Secure Data.
private
 private/*

## STS / Eclipse ##
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
.idea/*
.DS_Store
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/